<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936770666353-l3hl6ddf9m82mkeae68bn90ibf888j3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936770666353-l3hl6ddf9m82mkeae68bn90ibf888j3e</string>
	<key>API_KEY</key>
	<string>AIzaSyB-s4e3J7TLS6mqadYINwi4gCHkroRVrok</string>
	<key>GCM_SENDER_ID</key>
	<string>936770666353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerupiah.lite.kerupiahLiteApp</string>
	<key>PROJECT_ID</key>
	<string>kerupiah</string>
	<key>STORAGE_BUCKET</key>
	<string>kerupiah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936770666353:ios:c5d4bfeffe4da6e23800d0</string>
</dict>
</plist>